.mail-table-header {
    position: relative;
}

.read-filter-modal {
    position: absolute;
    top: 40px; 
    right: 20; 
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    z-index: 10; 
    width: 150px; 
}

.read-filter-option {
    margin: 10px 0;
    cursor: pointer;
    padding: 5px;
    transition: background-color 0.3s ease;
}

.read-filter-option:hover {
    background-color: #f0f0f0; 
    border-radius: 4px;
}

.table-header-btn-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px; 
}

.material-symbols-outlined {
    cursor: pointer;
    font-size: 24px; 
}
