:root {
  --clr1: rgb(96, 107, 91);
  --clr2: rgb(120, 99, 110);

  --clr1bg: rgb(214, 220, 212);
  --clr1bg-light: rgb(205, 221, 200);
  --clr2bg: rgb(233, 206, 221);
  --clr2bg-light: rgb(247, 185, 219);

  --gray1: rgb(240, 240, 240);
  --gray2: rgb(155, 155, 155);
  --gray3: rgb(44, 44, 44);

    /* pallet*/
    --clr-nav: #ffffff;
    --clr-nav-focus: #58c93a;
    --clr-nav-item-border: rgb(29, 29, 29);
    --clr-card-title: #4f4e4e;
    --clr-card-content: #606060;
    --clr-card-button: #c2c1c1;
    --clr-card-button-focus: #58c93a;
    --clr-header: #292929;
    --clr-pagination: #818181;
    --clr-footer: #f8f8f8;
    --clr-footer-content: #a6a6a6;
    --clr-socials: #e5e5e5;
    --clr-logo-footer: #292929;
    --clr-content-border: #e1dfdf;

    /* mq */

    --break-l: 980px;
    --break-m: 800px;
    --break-s: 600px;
}


 