.note-preview {
  position: relative;

  min-width: 50px;
  min-height: 50px;

  max-width: 350px;
  max-height: 500px;
  
  background-color: #f1f3f4;
  text-align: left;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  break-inside: avoid-column;
 
  break-inside: avoid;
  margin: 10px auto;
  overflow-wrap: break-word;
  overflow: hidden;

  transition: transform 0.2s ease-in-out;
  font-size: 18px;
  line-height:24px;
  font-family:"Google Sans", Roboto, Arial, sans-serif;

  cursor: pointer;

}

.note-preview:hover {
  transform: scale(1.05);

}

.note-actions {
  opacity: 0; 
  transition: opacity 0.2s ease-in-out; 
  position: absolute; 
  bottom: 10px; 
  left: 10px; 
  right: 10px;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  padding-top: 10px;
}

.note-preview:hover .note-actions {
  opacity: 1; 
}

.icon-btn:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.note-img {
  width: 100%;
  height: auto;
}

.image-container {
  height: 80%;
}

.image-container img {
  margin: 0 auto;
}

.pinned {
  color: black;
  font-weight: 800;
}


