 /* note list */

 /* .note-list {
    list-style: none;
    padding: 15px 0 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
   
}

.note-list li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--purple1);
    border-radius: 10px;
} */

.memo-container {
    column-count: 3;
    column-gap: 20px;
  }
  
  
  .memo-pined-container {
    column-count: 3;
    column-gap: 20px;
    margin-bottom: 90px;
  }

  .memo {
    border: 1px solid black;
  
  }
  
  @media screen and (max-width: 1050px) {
    .memo-container {
      column-count: 2;
    }
  
  
    .memo-pined-container {
      column-count: 2;
    }
  }
  
  @media screen and (max-width: 700px) {
    .memo-container {
      column-count: 1;
    }
  
  
    .memo-pined-container {
      column-count: 1;
    }
  }