.note-preview {
    text-align: center;
    padding: 0.3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.note-preview h2,h4 {
    text-transform: capitalize;
}

.note-preview img {
    max-width: 100px;
}

.note-text {
    padding: 1.875em;
    background-color: aqua;
}