 .note-list {
    list-style: none;
    padding: 15px 0 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 10px;
   
}

.note-list li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
}

.memo-container {
    column-count: 5;
    column-gap: 10px;
    margin-left: 90px;
  }
  
  
  .memo-pined-container {
    column-count: 5;
    column-gap: 10px;
    margin-bottom: 90px;
    margin-left: 90px;
  }

  .memo {
    border: 1px solid black;
  
  }
  

  @media screen and (max-width: 1050px) {
    
    .memo-container {
      column-count: 4; 
    }
  
    .memo-pined-container {
      column-count: 4;
    }
  }
  
  @media screen and (max-width: 800px) {
    
    .memo-container {
      column-count: 3; 
    }
  
    .memo-pined-container {
      column-count: 3;
    }
  }
  
  @media screen and (max-width: 700px) {
   
    .memo-container {
      column-count: 2; 
    }
  
    .memo-pined-container {
      column-count: 2;
    }
  }
  
  @media screen and (max-width: 500px) {
    
    .memo-container {
      column-count: 1; 
    }
  
    .memo-pined-container {
      column-count: 1;
    }
  }