* {
    box-sizing: border-box;
  }

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: .5em 0 .5em;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

tr:hover {
    background-color: #f1f1f1;
}
