

.home {
   background-image: url("../../img/background-image.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.img-logo{
   width: 50px;
}
