header {
    background-color: #f2f6fc;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 6px 0px, rgb(218, 220, 224) 0px -1px 0px 0px inset;
    color: rgb(40, 40, 40);
    padding: 1rem; 
}

.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.img-logo {
    width: 50px; 
}

.img-home {
    width: 80px;
    margin-left: 20px; 
}

.header-modal {
    position: absolute;
    /* top: 80px;  */
    right: 80px;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    z-index: 10;
    display: flex;
    flex-direction: row; 
    padding: 1rem;
    border-radius: 5px;
    min-width: 300px; 
    max-width: 90vw; 
    overflow: hidden; 
}

.header-modal img {
    width: auto; 
    height: 40px; 
    margin: 0.5rem; 
}

nav {
    display: flex;
    align-items: center;
}

nav .menu {
    cursor: pointer;
    font-size: 1.5rem;
    margin-right: 20px;
}

nav a {
    margin: 0;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a:hover {
    background: #e2f3ff;
}

nav a:active {
    color: darkblue;
}

nav a.active {
    font-weight: bold; 
}
